*{
    padding: 0%;
    margin: 0%;
    font-family: 'Inter',sans-serif;
}
.main-section{
    width:100%;
    max-width: 420px;
    min-height:100vh;
    height:100%;
    display: flex;
    flex-direction: column;
    /* box-shadow:5px 5px 5px 5px gainsboro;  */
    /* overflow-y: scroll; */
    -ms-overflow-style: none; 
    scrollbar-width: none; 
.main-section::-webkit-scrollbar {
        display: none;
       }
       .example {
        -ms-overflow-style: none;
        scrollbar-width: none;
       }
}

.main-hed-ann1{
    background: rgb(248, 247, 247);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    border-radius: 9px;
    font-size: medium;
}